In [1]:
from ProcessO2 import ProcessO2

In [2]:
model = ProcessO2('../O2Measures/*.csv')
data = model.get_all_data()
print("================ Without Null Data =============")
print(data.head())
print(data.describe())
print(data.dtypes)

================ Without Null Data =============
            FechaHora  SpO2(%)  Pulso(lpm)  Movimiento  Vibración
0 2020-03-27 21:14:11       95          91           0          0
1 2020-03-27 21:14:15       95          91           0          0
2 2020-03-27 21:14:19       96          87           2          0
3 2020-03-27 21:14:23       96          87           3          0
4 2020-03-27 21:14:27       96          88           0          0
             SpO2(%)     Pulso(lpm)     Movimiento      Vibración
count  137858.000000  137858.000000  137858.000000  137858.000000
mean       97.196144      58.967104       0.752920       0.001857
std         0.997623       9.596211       4.286849       0.487537
min        88.000000      33.000000       0.000000       0.000000
25%        97.000000      55.000000       0.000000       0.000000
50%        97.000000      57.000000       0.000000       0.000000
75%        98.000000      60.000000       0.000000       0.000000
max       100.000000     131.000000     147.000000     128.000000
FechaHora     datetime64[ns]
SpO2(%)                int32
Pulso(lpm)             int32
Movimiento             int32
Vibración              int32
dtype: object

In [3]:
data['SpO2(%)'].value_counts()

97     72095
98     46629
96      9226
99      4151
95      2005
94      1718
93      1077
92       582
91       267
90        91
100        9
88         7
89         1
Name: SpO2(%), dtype: int64

In [4]:
dataf=data.set_index('FechaHora')

In [5]:
noches = dataf.between_time('00:00', '11:00')
dias = dataf.between_time('11:01', '23:59')

In [6]:
noches.describe()

             SpO2(%)     Pulso(lpm)     Movimiento  Vibración
count  130988.000000  130988.000000  130988.000000   130988.0
mean       97.339184      57.221723       0.467944        0.0
std         0.696314       3.833389       3.630507        0.0
min        92.000000      33.000000       0.000000        0.0
25%        97.000000      55.000000       0.000000        0.0
50%        97.000000      57.000000       0.000000        0.0
75%        98.000000      59.000000       0.000000        0.0
max       100.000000      97.000000     147.000000        0.0

In [7]:
dias.describe()

           SpO2(%)   Pulso(lpm)   Movimiento    Vibración
count  6855.000000  6855.000000  6855.000000  6855.000000
mean     94.463457    92.323997     6.200000     0.037345
std       1.700538    20.006745     9.300646     2.186198
min      88.000000    51.000000     0.000000     0.000000
25%      93.000000    74.000000     2.000000     0.000000
50%      95.000000    95.000000     3.000000     0.000000
75%      96.000000   110.000000     7.000000     0.000000
max      98.000000   131.000000   139.000000   128.000000