In [2]:
from ProcessO2 import ProcessO2
from ExtractO2 import ExtractO2

In [3]:
model = ProcessO2('../O2Measures/*.csv')
data = model.get_all_data()
print("================ Without Null Data =============")
print(data.head())
print(data.describe())
print(data.dtypes)

================ Without Null Data =============
            FechaHora  SpO2(%)  Pulso(lpm)  Movimiento  Vibración
0 2020-03-27 21:14:11       95          91           0          0
1 2020-03-27 21:14:15       95          91           0          0
2 2020-03-27 21:14:19       96          87           2          0
3 2020-03-27 21:14:23       96          87           3          0
4 2020-03-27 21:14:27       96          88           0          0
             SpO2(%)     Pulso(lpm)     Movimiento      Vibración
count  137858.000000  137858.000000  137858.000000  137858.000000
mean       97.196144      58.967104       0.752920       0.001857
std         0.997623       9.596211       4.286849       0.487537
min        88.000000      33.000000       0.000000       0.000000
25%        97.000000      55.000000       0.000000       0.000000
50%        97.000000      57.000000       0.000000       0.000000
75%        98.000000      60.000000       0.000000       0.000000
max       100.000000     131.000000     147.000000     128.000000
FechaHora     datetime64[ns]
SpO2(%)                int32
Pulso(lpm)             int32
Movimiento             int32
Vibración              int32
dtype: object

In [4]:
data['SpO2(%)'].value_counts()

97     72095
98     46629
96      9226
99      4151
95      2005
94      1718
93      1077
92       582
91       267
90        91
100        9
88         7
89         1
Name: SpO2(%), dtype: int64

In [5]:
summary = ExtractO2(data)
days, nights = summary.compute_days_nights()

In [6]:
nights.describe()

             SpO2(%)     Pulso(lpm)     Movimiento  Vibración
count  131173.000000  131173.000000  131173.000000   131173.0
mean       97.338629      57.219717       0.468328        0.0
std         0.696053       3.831369       3.629302        0.0
min        92.000000      33.000000       0.000000        0.0
25%        97.000000      55.000000       0.000000        0.0
50%        97.000000      57.000000       0.000000        0.0
75%        98.000000      59.000000       0.000000        0.0
max       100.000000      97.000000     147.000000        0.0

In [7]:
days.describe()

           SpO2(%)   Pulso(lpm)   Movimiento    Vibración
count  6685.000000  6685.000000  6685.000000  6685.000000
mean     94.400299    93.254301     6.337173     0.038295
std       1.674107    19.377914     9.367681     2.213817
min      88.000000    51.000000     0.000000     0.000000
25%      93.000000    75.000000     2.000000     0.000000
50%      95.000000    96.000000     3.000000     0.000000
75%      96.000000   111.000000     7.000000     0.000000
max      98.000000   131.000000   139.000000   128.000000

In [9]:
summary.data_info_frame(days)

[{'num_registros': 6685},
 {'Fecha inicio': "'27-03-2020'", 'Fecha fin': "'07-04-2020'"},
 {'SpO2':              count       mean       std   min   25%   50%   75%   max
  FechaHora
  2020-03-27   862.0  93.990719  1.821897  88.0  93.0  94.0  95.0  98.0
  2020-03-28  3021.0  94.798742  1.554915  90.0  94.0  95.0  96.0  98.0
  2020-03-29     0.0        NaN       NaN   NaN   NaN   NaN   NaN   NaN
  2020-03-30   592.0  94.496622  1.803359  90.0  93.0  94.0  96.0  98.0
  2020-03-31     0.0        NaN       NaN   NaN   NaN   NaN   NaN   NaN
  2020-04-01     0.0        NaN       NaN   NaN   NaN   NaN   NaN   NaN
  2020-04-02   575.0  93.794783  1.486164  90.0  93.0  94.0  95.0  97.0
  2020-04-03   569.0  94.790861  1.511757  90.0  94.0  95.0  96.0  97.0
  2020-04-04   583.0  94.229846  1.163004  91.0  93.0  94.0  95.0  96.0
  2020-04-05     0.0        NaN       NaN   NaN   NaN   NaN   NaN   NaN
  2020-04-06     0.0        NaN       NaN   NaN   NaN   NaN   NaN   NaN
  2020-04-07   483.0  92.987578  1.698135  90.0  91.0  93.0  94.0  96.0},
 {'Latidos':              count        mean        std   min    25%    50%    75%    max
  FechaHora
  2020-03-27   862.0   96.871230  16.910872  57.0   86.0   98.0  110.0  131.0
  2020-03-28  3021.0   79.539225  15.971898  57.0   68.0   75.0   84.0  131.0
  2020-03-29     0.0         NaN        NaN   NaN    NaN    NaN    NaN    NaN
  2020-03-30   592.0  102.646959  12.983343  70.0   95.0  106.0  112.0  122.0
  2020-03-31     0.0         NaN        NaN   NaN    NaN    NaN    NaN    NaN
  2020-04-01     0.0         NaN        NaN   NaN    NaN    NaN    NaN    NaN
  2020-04-02   575.0  107.224348  10.604553  75.0  100.0  108.0  117.0  128.0
  2020-04-03   569.0  106.212654  11.482938  74.0   97.0  108.0  116.0  126.0
  2020-04-04   583.0  111.847341   9.901700  61.0  108.0  114.0  118.0  127.0
  2020-04-05     0.0         NaN        NaN   NaN    NaN    NaN    NaN    NaN
  2020-04-06     0.0         NaN        NaN   NaN    NaN    NaN    NaN    NaN
  2020-04-07   483.0  106.730849  11.904618  51.0  102.0  107.0  114.0  127.0}]

In [10]:
summary.data_info_frame(nights)

[{'num_registros': 131173},
 {'Fecha inicio': "'27-03-2020'", 'Fecha fin': "'14-04-2020'"},
 {'SpO2':              count       mean       std   min   25%   50%   75%    max
  FechaHora
  2020-03-27  7088.0  97.300226  0.711644  92.0  97.0  97.0  98.0   99.0
  2020-03-28  7042.0  97.085487  0.708916  93.0  97.0  97.0  97.0   98.0
  2020-03-29  7137.0  97.274345  0.556861  94.0  97.0  97.0  98.0   98.0
  2020-03-30  7234.0  97.080039  0.369338  93.0  97.0  97.0  97.0   98.0
  2020-03-31  6476.0  96.952131  0.520641  93.0  97.0  97.0  97.0   99.0
  2020-04-01  6835.0  97.581273  0.716420  94.0  97.0  98.0  98.0   99.0
  2020-04-02  6675.0  97.642097  0.834703  94.0  97.0  98.0  98.0   99.0
  2020-04-03  6407.0  97.496644  0.554785  93.0  97.0  97.0  98.0   99.0
  2020-04-04  7093.0  97.578599  0.710035  93.0  97.0  98.0  98.0   99.0
  2020-04-05  7378.0  97.116021  0.635650  94.0  97.0  97.0  97.0   99.0
  2020-04-06  7094.0  97.664082  0.657732  94.0  97.0  98.0  98.0  100.0
  2020-04-07  7307.0  97.179964  1.026100  92.0  97.0  97.0  98.0  100.0
  2020-04-08  6698.0  97.262168  0.793022  94.0  97.0  97.0  98.0   99.0
  2020-04-09  6884.0  97.564497  0.652710  96.0  97.0  98.0  98.0   99.0
  2020-04-10  6329.0  97.463738  0.695607  95.0  97.0  97.0  98.0   99.0
  2020-04-11  6820.0  97.180205  0.555674  94.0  97.0  97.0  98.0   99.0
  2020-04-12  7104.0  97.266892  0.536959  94.0  97.0  97.0  98.0   99.0
  2020-04-13  6447.0  97.356445  0.532658  94.0  97.0  97.0  98.0   99.0
  2020-04-14  7125.0  97.425965  0.562265  95.0  97.0  97.0  98.0   99.0},
 {'Latidos':              count       mean       std   min   25%   50%   75%   max
  FechaHora
  2020-03-27  7088.0  57.780615  5.364173  43.0  54.0  57.0  60.0  90.0
  2020-03-28  7042.0  55.625533  3.880503  41.0  54.0  55.0  57.0  88.0
  2020-03-29  7137.0  55.935827  3.959800  43.0  54.0  55.0  57.0  84.0
  2020-03-30  7234.0  56.196295  3.192632  43.0  54.0  56.0  58.0  85.0
  2020-03-31  6476.0  55.663372  4.722805  45.0  53.0  55.0  57.0  97.0
  2020-04-01  6835.0  56.922312  3.152122  46.0  55.0  56.0  58.0  83.0
  2020-04-02  6675.0  58.484345  3.531508  45.0  56.0  59.0  60.0  81.0
  2020-04-03  6407.0  57.471359  3.658812  34.0  55.0  58.0  59.0  87.0
  2020-04-04  7093.0  57.231778  4.476122  33.0  56.0  57.0  59.0  87.0
  2020-04-05  7378.0  59.085525  3.080613  44.0  57.0  59.0  61.0  82.0
  2020-04-06  7094.0  57.620242  3.298080  34.0  56.0  58.0  59.0  80.0
  2020-04-07  7307.0  56.184070  3.136275  44.0  54.0  56.0  57.0  81.0
  2020-04-08  6698.0  57.174679  3.573450  38.0  55.0  57.0  59.0  81.0
  2020-04-09  6884.0  57.303021  3.028412  46.0  55.0  57.0  59.0  80.0
  2020-04-10  6329.0  58.404961  3.862546  47.0  56.0  58.0  60.0  82.0
  2020-04-11  6820.0  58.252786  3.061481  47.0  56.0  58.0  60.0  87.0
  2020-04-12  7104.0  57.256194  3.549845  45.0  55.0  57.0  59.0  82.0
  2020-04-13  6447.0  55.658291  3.084049  43.0  54.0  55.0  57.0  82.0
  2020-04-14  7125.0  58.867228  3.286361  49.0  57.0  59.0  61.0  87.0}]